In [15]:
# Importing the Libraries

import yfinance as yf
import pymysql

import config_stockAnalysis as csa

In [16]:
# This data extract is served as DEMO
# The changes to be made will be using msft as an argument 
# and using the same ticker as filename while saving
# This changes will be made as a py file
# Which later would be converted as AWS Lambda service
# Whose i/p is undecided
# and whose o/p will be RDS Engine

In [17]:
# rds settings
rds_host = csa.rds_host
db_name = csa.db_name
name = csa.name
password = csa.password

In [18]:
try:
    conn = pymysql.connect(host=rds_host, user=name, passwd=password, db=db_name,connect_timeout=5)
    print("SUCCESS: Connection to RDS MySQL instance succeeded")
except pymysql.MySQLError as e:
    print("ERROR: Unexpected error: Could not connect to MySQL instance.")
    print(e)

SUCCESS: Connection to RDS MySQL instance succeeded

In [30]:
# with conn.cursor() as cur:
#     temp = "Select * from Stock"
#     cur.execute(temp)
#     conn.commit()
        
#     for row in cur:
#         print(row)
# conn.commit()

(1, 'Apple', 'AAPL', 0.9)
(2, 'Microsoft', 'MSFT', 0.1)
(3, None, 'T', None)
(4, None, 'VNQ', None)
(6, None, 'DIS', 0.3)
(7, None, 'TSLA', 0.35)

In [31]:
row

(7, None, 'TSLA', 0.35)

In [57]:
ticker = "MSFT"

In [58]:
# Starting from Microsoft
stock = yf.Ticker(ticker)

In [59]:
df = stock.history(period="1d").reset_index()

In [60]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-10-12,295.339996,295.440002,292.350006,292.880005,17215595,0,0

In [61]:
dfl = list(df.iloc[0,:5])

In [62]:
dfl

[Timestamp('2021-10-12 00:00:00'),
 295.3399963378906,
 295.44000244140625,
 292.3500061035156,
 292.8800048828125]

In [63]:
dfl[0] = str(dfl[0])
for i in range(1,len(dfl)):
    dfl[i] = round(dfl[i],4)

In [64]:
dfl[0]

'2021-10-12 00:00:00'

In [65]:
dfl

['2021-10-12 00:00:00', 295.34, 295.44, 292.35, 292.88]

In [66]:
s = str(dfl).replace('[','').replace(']','')

In [67]:
s

"'2021-10-12 00:00:00', 295.34, 295.44, 292.35, 292.88"

In [68]:
len(s)

53

In [74]:
insert = 'INSERT IGNORE INTO '+str(ticker)+ "("+s + ");"

In [75]:
insert

"INSERT IGNORE INTO MSFT('2021-10-12 00:00:00', 295.34, 295.44, 292.35, 292.88);"

In [7]:
len(hist.index)

32

In [8]:
df = hist.copy()

In [9]:
df.sort_values(['Date'],ascending=False,inplace=True)

In [10]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-10-06,285.779999,293.630005,285.509308,293.109985,26486196,0,0
2021-10-05,284.049988,290.399994,284.049988,288.760010,24993000,0,0
2021-10-04,287.399994,287.750000,280.250000,283.109985,31350700,0,0
2021-10-01,282.119995,289.980011,281.290009,289.100006,30086300,0,0
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0

In [11]:
df['Rel Change(%) - 1 day']=round((df['Open']-df['Open'].shift(-1))/df['Open']*100,4)

In [12]:
df['Rel Change(%) - 7 day(1 week)']=round((df['Open']-df['Open'].shift(-7))/df['Open']*100,4)

In [13]:
df['Rel Change(%) - 30 day(1 month)']=round((df['Open']-df['Open'].shift(-30))/df['Open']*100,4)

In [14]:
df.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Rel Change(%) - 1 day,Rel Change(%) - 7 day(1 week),Rel Change(%) - 30 day(1 month)
Date,,,,,,,,,,
2021-10-06,285.779999,293.630005,285.509308,293.109985,26486196,0,0,0.6054,-3.6252,-6.7324
2021-10-05,284.049988,290.399994,284.049988,288.760010,24993000,0,0,-1.1794,-4.9921,-6.7594
2021-10-04,287.399994,287.750000,280.250000,283.109985,31350700,0,0,1.8372,-3.9840,NaN
2021-10-01,282.119995,289.980011,281.290009,289.100006,30086300,0,0,-1.2725,-5.1787,NaN
2021-09-30,285.709991,287.829987,281.619995,281.920013,32325800,0,0,0.2135,-3.4931,NaN
2021-09-29,285.100006,286.769989,283.010010,284.000000,26353700,0,0,-1.6485,-3.9390,NaN
2021-09-28,289.799988,290.779999,282.750000,283.519989,43186200,0,0,-2.1877,-4.9586,NaN
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0,0,-0.7057,-2.5731,NaN
2021-09-24,298.230011,299.799988,296.929993,299.350006,14999000,0,0,-0.2079,-1.6866,NaN
2021-09-23,298.850006,300.899994,297.529999,299.559998,18604600,0,0,0.7094,-0.2376,NaN

In [15]:
# Saving as CSV
df.to_csv("msft.csv")